# Configuration file

block {

    properties {
        # The light level glow roses emit, must be between 0 and 15 inclusive.
        I:GlowRose.LightLevel=10

        # The radius (in blocks) in which redstone-powered teleporters will select entities to teleport. [range: 0.0 ~ 128.0, default: 2.5]
        S:RedstoneTeleporter.SearchRadius=2.5
    }

}


enchantment {
    I:AreaOfEffect=129
    I:Mending=128
}


item {

    properties {
        # The burn time of Chaos Coal. Vanilla coal is 1600. [range: 0 ~ 2147483647, default: 6400]
        I:ChaosCoal.BurnTime=6400

        # The number of Chaos Essence you get for smelting one Chaos Ore
        I:ChaosEssence.PerOre=1

        # The capacity increase (as a fraction) for each level of the Capacity upgrade on a Chaos Gem
        D:ChaosGem.CapacityUpgradeIncrease=0.25
        D:ChaosGem.FlightMaxSpeed=25.0
        D:ChaosGem.FlightThrust=0.1

        # The number of unique upgrades you can put on a Chaos Gem
        I:ChaosGem.MaxBuffsPerGem=3

        # The base maximum charge level for Chaos Gems
        I:ChaosGem.MaxCharge=10000

        # The amount of charge a Chaos Gem gains for every second deactivated.
        I:ChaosGem.RechargeRate=40

        # Allows Enchantment Tokens to be used on appropriate tools from other mods.
        B:EnchantmentToken.CanApplyToAnyTool=true

        # The base duration for special effects from food
        I:Food.SupportDuration=600

        # The number of blocks the Holding Gem can store.
        I:HoldingGem.MaxItems=4096

        # The number of ticks a player must hold right-click to activate the Return Home. [range: 0 ~ 200, default: 24]
        I:ReturnHome.UseTime=24

        # The mining level of the gag fish tools. [range: 0 ~ 100, default: 3]
        I:Tool.MiningLevel.Fish=3

        # The mining level of regular gem tools. [range: 0 ~ 100, default: 2]
        I:Tool.MiningLevel.Regular=2

        # The mining level of supercharged gem tools. [range: 0 ~ 100, default: 4]
        I:Tool.MiningLevel.Super=4

        # Always hide the potentially funny, but useless item descriptions. [default: false]
        B:Tooltips.HideFlavorText.Always=false

        # Hide the flavor text until shift is pressed. [default: true]
        B:Tooltips.HideFlavorText.UntilShift=true
    }

}


world {

    generation {
        I:World.ChaosOre.ClusterCount=1
        I:World.ChaosOre.ClusterSize=20
        I:World.ChaosOre.MaxHeight=20
        I:World.ChaosOre.Rarity=1
        I:World.FlowersPerChunk=1
        I:World.Gem.ClusterCount=6
        I:World.Gem.ClusterSize=8
        I:World.Gem.MaxHeight=40

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightAmethyst=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightAquamarine=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightBeryl=10
        I:World.Gem.WeightEmerald=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightGarnet=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightHeliodor=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightIolite=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightMorganite=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightOnyx=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightPeridot=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightRuby=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightSapphire=10

        # How like this gem is to be selected when spawning a vein of gem ore [range: 1 ~ 1000, default: 10]
        I:World.Gem.WeightTopaz=10
    }

}


